fastapi[standard]
fastapi-mail
alt-profanity-check
bcrypt
beautifulsoup4
SQLAlchemy
rich
pytz
requests
fastapi_cdn_host
python-dateutil
uvicorn
pymysql
icalendar
cryptography
pyotp
PyJWT
fastapi-cache2
redis