aiosmtplib==2.0.2
alt-profanity-check==1.5.1
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
APScheduler==3.10.4
attrs==23.2.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
cattrs==23.2.3
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==43.0.0
dnspython==2.6.1
email_validator==2.2.0
fastapi==0.112.0
fastapi-cdn-host==0.7.1
fastapi-mail==1.4.1
fastapi-restful==0.6.0
fhconfparser==2024.1
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
icalendar==5.0.13
idna==3.7
iniconfig==2.0.0
Jinja2==3.1.4
joblib==1.4.2
licensecheck==2024.2
loguru==0.7.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mypy-extensions==1.0.0
numpy==2.0.1
packaging==24.1
platformdirs==4.2.2
pluggy==1.5.0
psutil==5.9.5
pycparser==2.22
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
Pygments==2.18.0
PyJWT==2.9.0
PyMySQL==1.1.1
pyotp==2.9.0
pytest==8.3.2
pytest-dependency==0.6.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
requests-cache==1.2.1
rich==13.7.1
scikit-learn==1.5.1
scipy==1.14.0
setuptools==72.1.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.32
starlette==0.37.2
threadpoolctl==3.5.0
tomli==2.0.1
tqdm==4.66.5
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
url-normalize==1.4.3
urllib3==2.2.2
uvicorn==0.30.5
wheel==0.44.0
win32-setctime==1.1.0
